@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("plans-bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


nav {
    position: relative;
    background-color: black;
    padding: 20px 0;
}

nav ul {
    display: flex;
}

nav ul li {
    font-weight: bolder;
    font-size: 1.2em;
    list-style: none;
}

nav ul li a {
    padding: 6px 18px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: 0.3s all ease-in;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

#logo {
    width: 120px;
    height: 60px;
    top: 0;
    right: 0;
    filter: invert(100%);
    position: absolute;
}

h1, h2 {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Pushster', cursive;
    color: #000;
}

h2 {
    letter-spacing: 1px;
    color: #000;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    margin-top: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin: 0;
}

#plans {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    width: 950px;
    min-height: 350px;
    background-color: #000;
    color: #fff;
    opacity: 0.7;
}

#plans tr th {
    font-weight: bolder;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: rgb(10, 169, 248);
    transition: 0.3s all ease-in;
} 

#plans tr td{
    padding: 4px;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 2px;
    transition: 0.3s all ease-in;
}

th:hover, td:hover {
    opacity: 0.3;
}

#timings {
    background-color: rgb(0, 10, 14);
    color: #fff;
    border: 1px solid white;
    border-radius: 25px;
    font-family: 'Libre Baskerville', serif;
    height: auto;
    width: 25%;
    text-align: center;
    margin: 35px 0;
    letter-spacing: 1px;
    opacity: 0.6;
    font-weight: bold;
    transition: 0.3s opacity ease-in;
}

#timings:hover {
    opacity: 0.9;
}

#timings h3 {
    font-size: 1em;
    padding: 15px;
}

#timings p {
    font-size: 0.8em;
    padding: 15px 0;
}

#timings p:nth-child(even) {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #plans {
        width: 85%;
        font-size: 0.65em;
    }
    #timings {
        font-size: 0.7em;
        width: 55%;
    }
}

@media screen and (max-width: 500px) {
    
    #logo {
        display: none;
    }

    nav ul li {
        font-size: 0.85em;
    }

    #plans {
        width: 95%;
        min-height: 40vh;
        font-size: 0.65em;
        padding: 5px;
    }

    #plans tr td {
        padding: 8px;
    }

    #timings {
        font-size: 0.7em;
        width: 75%;
    }
    
}